#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=deepin-music-player
Name[en_US]=Playdl
Exec=playdl
Name=Playlist Downloader
Icon=deepin-music-player
